body {
    font-family: sans-serif;
}

.link-header {
    background-image: linear-gradient(to right bottom, lightblue, lightyellow, lightblue);
    border-radius: 10%;
    font-size: 25px;
    border: 2px solid royalblue;
    padding: 20px;
    color: crimson;
    text-decoration: none;
}

header {
    background-color: crimson;
    padding: 35px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: -4px 2px black;
    color: royalblue;
}
